* {
    padding: 0px;
    margin: 0px;
}
header {
    background-color: #faf9f5;
    width: 100%;
    height: 85px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
header div  {
    width: 91%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 120px;
    display: flex;
    align-items: center;
}
.logo img{
    width: 118px;
    height: 24px;
}
nav {
    display: flex;
    font-size: 14px;
}
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.lin {
  color:#3D3D3A;
  text-align:right;
  font-weight:normal;
  font-size: 15px;
  margin: 20px;
  text-decoration: none;
}
.boto {
    background-color: white;
    padding: 8px 20px;
    margin-left: 10px;
    border: 1px solid hsl(48deg 3.55% 72.35%);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color:hsl(60deg 2.56% 7.65%);
}
.caca {
    background-color: #141413 !important;
    color:hsl(0deg 0% 98.43%) !important;
}
main {
    background-color: #faf9f5;
    padding-top: 85px;
    height: 100000px;
}
.piensa {
    margin: 10px auto;
    width: 91%;
    display:grid;
    gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 736px;
}
.piensa div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}
.piensa div h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
    font-weight: 200;
}
.piensa div p {
    margin-top: 16px;
    font-size: 20px;
}
.piensa div section {
    border: 1px solid #dbdad6;
    border-radius: 20px;
    padding: 20px;
    margin: 32px 48px;
    width: 274;
    height: 448;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.bobo {
    width: 388px;
    height: 44px;
    background-color: white;
    border: 1px solid #bbbab6;
    color: #212120;
    border-radius: 8px;
    margin: 8px 0px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bobo img {
    width: 16px;
    height: 15.05px;
    padding: 20px 10px;
}
.piensa div section p {
    margin: 0px;
}
.piensa div section input {
    border-color: #dfdfdf;
    width: 364px;
    height: 44px;
    padding: 0px 12px;
    font-weight: 400;
}
.poli {
    font-size: 13px;
    color: #73726C;
}
.tengo {
    background-color: #faf9f5;
    text-align: right;
    height: 42;
    width: 333px;
    color:#141413;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #dbdad6;
}
.introduccion{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}